# Service that switches between blue and green
apiVersion: v1
kind: Service
metadata:
  name: aceest-fitness-service
  namespace: aceest-fitness
  labels:
    app: aceest-fitness
spec:
  type: LoadBalancer
  selector:
    app: aceest-fitness
    version: blue  # Change this to 'green' to switch traffic
  ports:
  - name: http
    port: 80
    targetPort: 5000
    protocol: TCP
